<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/home']">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="categories" [routerLink]="['/categories']">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Categorías</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cart" [routerLink]="['/cart']">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account" [routerLink]="['/account']">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

