<ion-list lines="full">
  <ion-item>
    <ion-label>Ordenar</ion-label>
    <ion-select interface="popover" placeholder="Relevancia">
      <ion-select-option value="relevance">Relevancia</ion-select-option>
      <ion-select-option value="price-asc">Precio: bajo a alto</ion-select-option>
      <ion-select-option value="price-desc">Precio: alto a bajo</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Stock</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
</ion-list>
