<app-header></app-header>
<ion-content>
  <div class="container">
    <div class="filters">
      <app-filters-drawer></app-filters-drawer>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" sizeMd="3" *ngFor="let p of products">
          <app-product-card [title]="p.title" [subtitle]="p.subtitle" [price]="p.price" [imageUrl]="p.imageUrl">
            <app-quantity-stepper></app-quantity-stepper>
          </app-product-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<app-footer></app-footer>
