<ion-footer class="app-footer">
  <ion-toolbar color="light">
    <div class="container">
      <div class="cols">
        <div class="col">
          <h3>Información</h3>
          <ion-list lines="none">
            <ion-item routerLink="/home">Inicio</ion-item>
            <ion-item routerLink="/category/hilos">Hilos</ion-item>
            <ion-item routerLink="/category/agujas">Agujas</ion-item>
          </ion-list>
        </div>
        <div class="col">
          <h3>Contacto</h3>
          <p>Atención B2B</p>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
